@use "./utilities/variable" as *;
@forward "utilities";
@forward "components";
@forward "layouts";
@forward "pages";

html {
  user-select: none;
}

body {
  font-weight: var(--ff-poppins);
  height: 101dvh;
  color: var(--clr-text-400);
  background-color: var(--bg);
  overflow: hidden;

  :focus-visible {
    outline: 1px dashed var(--clr-text-700);
  }
}

main:not(.auth) {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 43.25px);

  > div {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden auto;
  }

  .backdrop {
    position: absolute;
    display: none;
    background-color: var(--clr-dark-400);
    opacity: 0.4;
  }

  @media (width >= $tablet-device) {
    flex-direction: row;

    [data-open="true"] ~ .backdrop {
      display: block;
    }
  }

  @media (width >= $desktop-device) {
    height: calc(100dvh - 58px);

    > div {
      padding: 1rem;
    }

    [data-open="true"] ~ .backdrop {
      display: none;
    }
  }
}
