@use "../utilities/variable" as *;

.alert-page {
  height: calc(100dvh - 43.25px);

  .body {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 1.5rem;
    font-family: var(--ff-inter);
    font-size: 1.2rem;
    height: 100%;
  }

  .pagination + .body {
    height: 88%;
  }

  .icon {
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    padding: 1.6rem;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 100%;

    svg {
      font-size: 3rem;
    }
  }

  .message {
    color: var(--clr-text-700);
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  @media (min-width: $tablet-device) {
    .body {
      gap: 2rem;
      font-size: 1.6rem;
    }

    .icon {
      padding: 1.8rem;

      svg {
        font-size: 4rem;
      }
    }

    .buttons {
      gap: 1.5rem;
    }
  }

  @media (min-width: $desktop-device) {
    height: calc(100dvh - 58px);
  }
}
