@use "../utilities/variable" as *;

.nav-links {
  color: var(--clr-text-700);

  a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    padding: 0.6em 1em;
    color: inherit;
    border-radius: 6px;

    &:is(:hover, :focus) {
      color: var(--clr-text-700);
      background-color: var(--bg-transperent);
      outline: none;
    }

    &.active {
      font-weight: 700;
      color: var(--clr-white-700);
      background-color: var(--clr-primary-700);

      &:focus-visible {
        outline: 1px dashed var(--clr-text-700);
      }

      svg:first-child {
        display: none;
      }

      svg:nth-child(2) {
        display: initial;
      }
    }

    svg:nth-child(2) {
      display: none;
    }

    span {
      margin-top: 0.1rem;
    }

    @media (width >= $desktop-device) {
      border-radius: 8px;
    }
  }
}
