.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  .btn {
    opacity: 0.7;

    &:is(:hover, :focus-visible) {
      opacity: 1;
    }
  }
}
