.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  [theme="light"] & {
    --bg-transperent: rgba(241, 241, 241, 0.9);

    .btn--transperent {
      color: var(--clr-text-700);
    }
  }

  .btn {
    opacity: 0.7;

    &:is(:hover, :focus-visible) {
      opacity: 1;
    }
  }
}
